@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

@import 'vars.scss';
@import 'partials.scss';

html{
    font-size: 16px;

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, a, p, small, li{
        font-family: 'Comfortaa', sans-serif;
    }
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
}

body{
    background-color: $bright-blue;
    color: $white;
    margin: 0 0 211px;
}

.alert{
    position: fixed;
    background-color: $white;
    color: $blue;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid $blue;
    opacity: 0.8;
}

.content-container{
    padding: 1rem 0;

    .well{
        background-color: $white;
        color: $blue;
        display: inline-block;
        width: 100%;
        margin: 1rem 0;
        img{
            max-width: 100%;
        }
        a{
            &:hover{
                text-decoration: none;
            }
        }
    }
}